.fullPage{
  display: flex;
  align-items: center;
  justify-content: center;
}

.masterPlan {
  /* background-color: blueviolet; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
    position: relative;
    
  /* height: ; */
  background-image: url('../../images/plan.png');
  background-size: cover;
  background-position: center;
  height: 640px;
  width: 1180px;
  /* top: 55.7%; */
  left: 10%;
  top: 40px;

  /* background-color: #ff0101; */


}
.fullPlan {
  position: absolute;
  /* align-items: center; */
  /* top: 0px; */
  height: 720px;
  width: 1283px;
  
}
.secondaryClarifierP24 {
  cursor: pointer;
  /* top: 365px;
  left: 540px; */
  opacity: 1;
  height: 122px;
  width: 122px;
  /* background-color: rgb(0, 255, 106); */
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;

  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 55.7%;
  left: 36.7%;
  transform: translate(-50%, -50%);

  /* background-color: red; */
}
.secondaryClarifierP24:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-secondaryClarifierP24 {
  position: absolute;
  right: 620px;
  bottom: 350px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;

  
}

.secondaryClarifierP24:hover + .name-secondaryClarifierP24 {
  opacity: 1;
}

.secondaryClarifierP25 {
  cursor: pointer;
  opacity: 1;
  height: 122px;
  width: 122px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 81.8%;
  left: 36.7%;
  transform: translate(-50%, -50%);
}
.secondaryClarifierP25:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-secondaryClarifierP25 {
  position: absolute;
  right: 610px;
  bottom: 200px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 22px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.secondaryClarifierP25:hover + .name-secondaryClarifierP25 {
  opacity: 1;
}

.secondaryClarifierP32 {
  cursor: pointer;
  opacity: 1;
  height: 122px;
  width: 122px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 81.8%;
  left: 20.8%;
  transform: translate(-50%, -50%);
}
.secondaryClarifierP32:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-secondaryClarifierP32 {
  position: absolute;
  right: 830px;
  bottom: 200px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.secondaryClarifierP32:hover + .name-secondaryClarifierP32 {
  opacity: 1;
}

.PrimaryClarifierP7 {
  cursor: pointer;
  opacity: 1;
  height: 80px;
  width: 80px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 56.4%;
  left: 82.3%;
  transform: translate(-50%, -50%);
}
.PrimaryClarifierP7:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-PrimaryClarifierP7 {
  position: absolute;
  right: 130px;
  bottom: 340px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.PrimaryClarifierP7:hover + .name-PrimaryClarifierP7 {
  opacity: 1;
}

.PrimaryClarifierP8 {
  cursor: pointer;
  opacity: 1;
  height: 80px;
  width: 80px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 70.8%;
  left: 82.2%;
  transform: translate(-50%, -50%);
}
.PrimaryClarifierP8:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-PrimaryClarifierP8 {
  position: absolute;
  right: 130px;
  bottom: 240px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.PrimaryClarifierP8:hover + .name-PrimaryClarifierP8 {
  opacity: 1;
}

.PrimaryClarifierP9 {
  cursor: pointer;
  opacity: 1;
  height: 80px;
  width: 80px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 85.7%;
  left: 82.2%;
  transform: translate(-50%, -50%);
}
.PrimaryClarifierP9:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-PrimaryClarifierP9 {
  position: absolute;
  right: 130px;
  bottom: 140px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.PrimaryClarifierP9:hover + .name-PrimaryClarifierP9 {
  opacity: 1;
}

.aerationTank {
  cursor: pointer;
  opacity: 1;
  height: 245px;
  width: 245px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  /* border-radius: 50%; */
  position: absolute;
  top: 71%;
  left: 57.2%;
  transform: translate(-50%, -50%);
}
.aerationTank:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
}

.name-aerationTank {
  position: absolute;
  right: 570px;
  bottom: 340px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.aerationTank:hover + .name-aerationTank {
  opacity: 1;
}

.mainBuilding {
  cursor: pointer;
  opacity: 1;
  height: 134px;
  width: 94px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 74.8%;
  left: 8.2%;
  transform: translate(-50%, -50%);
}
.mainBuilding:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-mainBuilding {
  position: absolute;
  left: 260px;
  bottom: 220px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.mainBuilding:hover + .name-mainBuilding {
  opacity: 1;
}

.workShop {
  cursor: pointer;
  opacity: 1;
  height: 40px;
  width: 34px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 62%;
  left: 6%;
  transform: translate(-50%, -50%);
}
.workShop:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-workShop {
  position: absolute;
  left: 240px;
  bottom: 250px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.workShop:hover + .name-workShop {
  opacity: 1;
}

.chlorinationTank {
  cursor: pointer;
  opacity: 1;
  height: 110px;
  width: 80px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 52%;
  left: 8%;
  transform: translate(-50%, -50%);
}
.chlorinationTank:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-chlorinationTank {
  position: absolute;
  left: 270px;
  bottom: 360px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.6);

  border-radius: 15px;
  padding: 5px;
}

.chlorinationTank:hover + .name-chlorinationTank {
  opacity: 1;
}

.pumpingStation2 {
  cursor: pointer;
  opacity: 1;
  height: 30px;
  width: 40px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 66%;
  left: 19%;
  transform: translate(-50%, -50%);
}
.pumpingStation2:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-pumpingStation2 {
  position: absolute;
  left: 430px;
  bottom: 240px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.7);

  border-radius: 15px;
  padding: 0px;
}

.pumpingStation2:hover + .name-pumpingStation2 {
  opacity: 1;
}

.pumpingStation1 {
  cursor: pointer;
  opacity: 1;
  height: 30px;
  width: 40px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 71.6%;
  left: 71%;
  transform: translate(-50%, -50%);
}
.pumpingStation1:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-pumpingStation1 {
  position: absolute;
  right: 300px;
  bottom: 230px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.7);

  border-radius: 15px;
  padding: 5px;
}

.pumpingStation1:hover + .name-pumpingStation1 {
  opacity: 1;
}

.sandFilter {
  cursor: pointer;
  opacity: 1;
  height: 67px;
  width: 110px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 56%;
  left: 21.6%;
  transform: translate(-50%, -50%);
}
.sandFilter:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-sandFilter {
  position: absolute;
  left: 300px;
  bottom: 350px;
  opacity: 0;
  transition: 1.2s opacity;
  color: crimson;
  font-size: 20px;
  background-color: rgba(225, 243, 243, 0.7);

  border-radius: 15px;
  padding: 5px;
}

.sandFilter:hover + .name-sandFilter {
  opacity: 1;
}

.electricalRoom1 {
  cursor: pointer;
  opacity: 1;
  height: 30px;
  width: 60px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;

  top: 49%;
  left: 68.6%;
  transform: translate(-50%, -50%);
}
.electricalRoom1:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-electricalRoom1 {
  position: absolute;
  right: 320px;
  bottom: 390px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.electricalRoom1:hover + .name-electricalRoom1 {
  opacity: 1;
}

.electricalRoom2 {
  cursor: pointer;
  opacity: 1;
  height: 60px;
  width: 30px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 50.5%;
  left: 15.6%;
  transform: translate(-50%, -50%);
}
.electricalRoom2:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-electricalRoom2 {
  position: absolute;
  left: 220px;
  bottom: 390px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.electricalRoom2:hover + .name-electricalRoom2 {
  opacity: 1;
}

.blowersRoom {
  cursor: pointer;
  opacity: 1;
  height: 30px;
  width: 50px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 49%;
  left: 62.8%;
  transform: translate(-50%, -50%);
}
.blowersRoom:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-blowersRoom {
  position: absolute;
  right: 500px;
  bottom: 400px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.blowersRoom:hover + .name-blowersRoom {
  opacity: 1;
}

.mainStation {
  cursor: pointer;
  opacity: 1;
  height: 65px;
  width: 70px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 33.5%;
  left: 7%;
  transform: translate(-50%, -50%);
}
.mainStation:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
}

.name-mainStation {
  position: absolute;
  left: 160px;
  top: 180px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.mainStation:hover + .name-mainStation {
  opacity: 1;
}

.sludgeTreatmentBuilding {
  cursor: pointer;
  opacity: 1;
  height: 60px;
  width: 70px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 33.5%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.sludgeTreatmentBuilding:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-sludgeTreatmentBuilding {
  position: absolute;
  right: 600px;
  top: 160px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.sludgeTreatmentBuilding:hover + .name-sludgeTreatmentBuilding {
  opacity: 1;
}

.digester {
  cursor: pointer;
  position: absolute;
  top: 106px;
  left: 370px;
  height: 138px;
  width: 84px;
  opacity: 1;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff, 0 0 15px #049dff;
  border-radius: 10%;
}
.digester:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
}

.name-digester {
  position: absolute;
  left: 270px;
  top: 100px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.digester:hover + .name-digester {
  opacity: 1;
}

.preliminaryTreatment {
  cursor: pointer;
  opacity: 1;
  height: 50px;
  width: 30px;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;
  margin: 0;
  position: absolute;
  top: 86.5%;
  left: 72.8%;
  transform: translate(-50%, -50%);
}
.preliminaryTreatment:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
}

.name-preliminaryTreatment {
  position: absolute;
  right: 350px;
  bottom: 50px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.preliminaryTreatment:hover + .name-preliminaryTreatment {
  opacity: 1;
}

/* .generator {
  cursor: pointer;
  position: absolute;
  top: 220px;
  left: 215px;
  height: 15px;
  width: 10px;
  opacity: 0;
  box-shadow: 0 0 14px #049dff, 0 0 5px #049dff;

  border-radius: 10%;
}
.generator:hover {
  box-shadow: 0 0 10px #0fa, 0 0 20px #0fa, 0 0 30px #0fa;
  opacity: 0.7;
}

.name-generator {
  position: absolute;
  left: 220px;
  bottom: 420px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.generator:hover + .name-generator {
  opacity: 1;
} */

.name-waterPipesNetwork
{
  position: absolute;
  right: 450px;
  bottom: 50px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.name-digester1
{
  position: absolute;
  right: 450px;
  bottom: 50px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}
.name-digester2
{
  position: absolute;
  right: 450px;
  bottom: 50px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}
.name-other
{
  position: absolute;
  right: 450px;
  bottom: 50px;
  opacity: 0;
  transition: 1.2s opacity;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(225, 243, 243, 0.6);
  padding: 5px;
}

.closingWall {
  position: absolute;
  top: 60px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.wallText {
  position: relative;
  left: 330px;
  top: 15px;
}
.arrow {
  width: 120px;
}

.line {
  margin-top: 14px;
  width: 90px;
  background: rgb(106, 106, 204);
  height: 10px;
  margin-left: 360px;
}

.point {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid rgb(106, 106, 204);
  margin-left: 450px;
  margin-top: -25px;
}
