/* .css-rtrcn9-MuiTablePagination-root:last-child {
  padding: 10px;
} */
.log {
  margin-top: 8px;
}

.MuiTablePagination-root {
  padding: 10px !important;
}

.grid {
  background-color: rgb(199, 187, 211);
  height: 450px;
}

.deleteButton {
  position: absolute;
  top: -10px;
  right: 500px;
}

.title1 {
  position: absolute;
  top: 100px;
  margin-left: 340px;
}

/* .underNav {
    margin-top: 40px;
    } */
.toUp {
  margin-top: -50px;
}

.total1 {
  margin-top: 7px !important;
  font-size: 15.5px !important;
  /* margin: 10px 0px 5px 0px !important; */
  padding: 0px 50px !important;
}
