.checkCover {
  height: 3508;
  width: 2480;
  background-color: rgb(255, 255, 255);
  align-items: center;
  color: black;
  font-weight: 600;
  font-family: "Calibri";
  font-size: larger;
}
.border2 {
  text-align: left;
  border: 0.1px solid BLACK;
  margin: 0;
  padding: 3px;
  width: 826.66px;
}
.border3 {
  border: 0.1px solid BLACK;
  margin: 0;
  padding: 0 5px;
  width: 1240px;
}
.border4 {
  border: 0.1px solid BLACK;
  margin: 0;
  padding: 0 5px;
  width: 1240px;
}
.ProjName {
  border: 0.1px solid BLACK;
  padding: 20px;
  width: 2480;
}
.logo7 {
  padding: 0 50px;
  border: 0.1px solid BLACK;
}
.formN {
  text-align: left;
  border: 0.1px solid BLACK;
  font-size: 22px;
  width: 1240px;
}
.space {
  height: 30px;
}
.bigTable {
  display: flex;
  text-align: center;
}
.col1 {
  border: 0.1px solid BLACK;
  flex: 1;
  padding: 2px;
}
.col2 {
  border: 0.1px solid BLACK;
  flex: 18;
  padding: 2px;
}
.col3 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col4 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col5 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col6 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 2;
}
.remarks11 {
  text-align: start;
  border: 0.1px solid BLACK;
  height: 120px;
}

.col7 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col8 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col9 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col10 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
.col11 {
  border: 0.1px solid BLACK;
  padding: 2px;
  flex: 1;
}
