.carcass {
  height: 3508;
  width: 2480;
  background-color: rgb(255, 255, 255);
  align-items: center;
  color: black;
  font-weight: 600;
  font-family: "Calibri";
  font-size: larger;
  margin: px;
}
.xx1 {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
}
.xx2 {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 2px;
  border: 1px solid black;
  border-bottom: 0px;
  border-top: 0px;
  margin-top: -20px;
}
.xx3 {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
}
.client {
  position: absolute;
  top: -60px;
  margin: 15px;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.contractor2 {
  position: absolute;
  top: -54px;
  border: none;
  width: 100%;
  margin: 15px;
  padding: 5px 0;
  text-align: center;
}
.firstRaw {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: 1px solid black;
}

.owner {
  border: 1px solid black;
  /* flex: 4; */
  padding: 1px;
  margin: 1px;
  width: 470px;
}
.no {
  border: 1px solid black;
  flex: 3;
  padding: 1px;
  margin: 1px;
}
.rev {
  border: 1px solid black;
  flex: 1;
  padding: 1px;
  margin: 1px;
}
.contractor {
  border: 1px solid black;
  flex: 2;
  padding: 1px;
  margin: 1px;
}
.date {
  border: 1px solid black;
  flex: 2;
  padding: 1px;
  margin: 1px;
}
.dateOf {
  border: 1px solid black;
  flex: 3;
  padding: 1px;
  margin: 1px;
}
.dateOf0 {
  border: 1px solid black;
  flex: 3;
  padding: 1px;
  margin: 1px;
}

.loc {
  border: 1px solid black;
  flex: 2;
  padding: 1px;
  margin: 1px;
}
.lev {
  border: 1px solid black;
  flex: 1;
  padding: 0px;
  margin: 1px;
}
.are {
  border: 1px solid black;
  flex: 4;
  padding: 1px;
  margin: 1px;
}

.oneLine {
  border: 1px solid black;
  flex: 1;
  padding: 1px;
  margin: 1px;
  text-align: left;
}
.dis1 {
  margin: 0;
}
.dis {
  margin-left: 150px;
  margin-top: -1px;
}
.dis2 {
  margin: 0 40px;
}

.littlSquare1 {
  margin-left: 210px;
  margin-top: 3px;
  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare2 {
  margin-left: 450px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare3 {
  margin-left: 710px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare4 {
  margin-left: 900px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare5 {
  margin-left: 105px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare6 {
  margin-left: 215px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare7 {
  margin-left: 310px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare8 {
  margin-left: 415px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}

.littlSquare9 {
  margin-left: 633px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare10 {
  margin-left: 220px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}

.littlSquare11 {
  margin-left: 110px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare12 {
  margin-left: 220px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare13 {
  margin-left: 315px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}
.littlSquare14 {
  margin-left: 420px;
  margin-top: 3px;

  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}

.littlSquare17 {
  margin: 4px 0 0 10px;
  position: absolute;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(240, 22, 22);
}

.c1 {
  margin: 0px 0px 0 35px;
}
.work {
  padding: 0;
  margin: 0;
}
.routine {
  margin: 25px 0 25px 250px;
}
.twoBox {
  display: flex;
  flex-direction: row;
}

.pad {
  padding: 0;
  margin: 0px;
}
.oth {
  padding: 100px;
}
.contr {
  position: absolute;
  padding: -100px;
  margin: 0;
}
.resp {
  padding: 6px;
}
.routine2 {
  margin: 140px;
}
.footing {
  height: 50px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
@page {
  size: auto;
  margin: 0;
}
.lil {
  padding: 4.8px 0px;
}
