.statsPerMonth {
  position: relative;
  display: flex;
  flex-direction: row;
}
.statsPerMonthFilterButton {
  padding: 15px 15px;
  margin: -20px 0px 90px 0px;
}
.statsPerMonthFilter {
  margin-top: 20px;
  width: 250px;
  max-height: 350px;
  overflow-y: scroll;
}

/* ::-webkit-scrollbar {
  width: 5px;
} */
