.statsPerMonth {
  position: relative;
  display: flex;
  flex-direction: row;
}
.statsPerMonthFilterButton {
  padding: 15px 15px;
  margin: -20px 0px 90px 0px;
}
.statsPerMonthFilter {
  margin-top: 20px;
  width: 250px;
  height: 300px;
  overflow-y: scroll;
  z-index: 99;
}
.hayya:hover {
  background-color: rgba(143, 171, 228, 0.4);
  /* opacity: 0.9; */
  z-index: 1;
}

/* ::-webkit-scrollbar {
  width: 5px;
} */
