.locationName {
  position: fixed;
  top: 8vh;
  left: 3vw;
  margin: 10px -32px;
  text-decoration: underline rgb(184, 214, 214);
  font-size: 19px;
  color: rgb(230, 243, 243);
}

.restOfPage {
  margin-top: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.createItn {
  position: fixed;
  top: 330px;
  left: 15px;
  margin: 27px 0px;
  font-size: 20px;
  padding: 15px;
  border-radius: 20px;
  border-color: rgb(206, 204, 204);
  border-style: solid;
  color: white;
  background-color: rgb(255, 71, 71);
  cursor: pointer;
}
.createItn:active {
  background-color: rgb(247, 112, 112);
  transform: translate(1px, 1px);
}
