.LineDimension2 {
  position: absolute;
  top: 565px;
  left: 70px;
}

.LineDimension {
  position: absolute;
  top: 140px;
  left: 600px;
}

.DoughnutDimension {
  position: absolute;
  top: 200px;
}
