.LineDimension {
  position: absolute;
  top: 125px;
  left: 600px;
}

.LineDimension2 {
  position: absolute;
  top: 565px;
  left: 180px;
  /* width: 1400px; */
}

.DoughnutDimension {
  position: absolute;
  top: 190px;
}
