.App {
  text-align: center;
}

body {
  /* background-color: rgba(32, 90, 141, 0.404) !important; */

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(5, 1, 78) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(99, 6, 153) 100%
  );
}

.dev {
  position: fixed;
  bottom: -12px;
  right: 0px;
  z-index: 99;
  background-color: rgba(0, 255, 179, 0.9);
  color: rgb(24, 24, 26);
  font-family: "Times New Roman";
  font-size: 17px;
  border-radius: 20px;
  padding: 3px;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
